<html ng-app= "App">
  <head>
    <title> Health & Nuitrition </title>
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-route.js"></script>
    <script src="../core.js"></script>
  <!--  <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
-->

    <!-- controllers
    <script src= "../public/AngControllers/bookingPackageCtrl.js"></script>
    <script src= "../public/AngControllers/stripe.js"></script>

    <script src= "../public/AngControllers/ratingCtrl.js"></script>

    <script src= "../public/AngControllers/index.js"></script>
    -->
    <script src= "../public/AngControllers/chatCtrl.js"></script>
    <script src= "../public/AngControllers/StripeCtrl.js"></script>
    <script src= "../public/AngControllers/SidebarCtrl.js"></script>
    <script src= "../public/AngControllers/RequestCtrl.js"></script>
    <script src= "../public/AngControllers/HomeCtrl.js"></script>
    <script src= "../public/AngControllers/BuyCtrl.js"></script>
     <script src= "../public/AngControllers/UserCtrl.js"></script>
     <script src= "../public/AngControllers/CustomerCtrl.js"></script>
     <script src= "../public/AngControllers/RegisterCtrl.js"></script>
     <script src= "../public/AngControllers/editCtrl.js"></script>
     <script src= "../public/AngControllers/deleteCtrl.js"></script>
     <script src= "../public/AngControllers/updateCtrl.js"></script>
     <script src= "../public/AngControllers/AddingPackagesCtrl.js"></script>
     <script src= "../public/AngControllers/AllClientCtrl.js"></script>
     <script src= "../public/AngControllers/reviewCtrl.js"></script>

<!--services -->
<script src= "../public/service/buyService.js"></script>


 <script src= "../public/service/SearchService.js"></script>
<script src= "../public/service/bookingsService.js"></script>
<script src= "../public/service/ratingService.js"></script>
<script src= "../public/service/requestService.js"></script>


    <script src= "../public/service/PackageService.js"></script>
    <script src= "../public/service/deleteService.js"></script>
    <script src= "../public/service/updateService.js"></script>
    <script src= "../public/service/AllClientService.js"></script>
    <script src= "../public/service/reviewService.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">


  </head>
  <body>

<div class="bgimg w3-display-container w3-text-black "  ng-controller = "SidebarCtrl" >

<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar" >

<button class="w3-bar-item w3-button w3-large"onclick="w3_close()">Close &times;</button>
<input type="text" placeholder= "Search..." ng-model="searchBox" ng-change = setSearchItem(searchBox) style="width: 110px;">

<button ng-click="go()" class="w3-button w3-black">go!</button>
<a href="/" class="w3-bar-item w3-button">Mainpage</a>
<a ng-click="Chat()" class="w3-bar-item w3-button">Contact Us</a>
<a ng-click="ViewReq()"  class="w3-bar-item w3-button">Admin</a>
</div>

<div zclass="w3-main" id="main">
<button class="w3-button  w3-xlarge" onclick="w3_open()">&#9776;</button>
</div>
</div>

<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "15%";
  document.getElementById("mySidebar").style.width = "15%";
  document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>

  <div ng-view></div>
  </body>
  </html>
