<a data-ng-click="back()" class="btn btn-info pull-right" href="javascript:">Back</a>

<div ng-show="package">
    <h3>{{package.username}}
    </h3>
    <span data-ng-repeat="i in getCount(package.rating) track by $index" class="glyphicon glyphicon-star"></span>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <form role="form" name="bookPackage" data-ng-submit="processForm()">
                <div class="form-group">


                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <select data-ng-model="formData.date" class="form-control" name="date" id="date" required>
                        <option>Today</option>
                        <option>Tomorow</option>
                        <option>The Day After</option>
                    </select>
                </div>

                <button data-ng-disabled="!(bookPackage.name.$valid)" type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-md-4">
            <h4>Review</h4>
            <label class="text-justify">
                <img data-ng-src="{{package.thumb}}" class="bookThumb pull-left">{{package.review}}
            </label>
        </div>
    </div>
</div>
