<style>
.w3-lobster {
    font-family: "Lobster", serif;
}
body,h1,h5 {font-family: "Raleway", sans-serif}
h2 {font-family: "Montserrat", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('/images/steel-mace-workout.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

  </style>
<style>
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=url], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */


/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
  background-color: #800080;

    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
</style>
<div class="w3-display-bottomleft w3-container w3-large w3-text-black" ng-controller = "SignUpCtrl">
<h2>Signup Form</h2>

<form class="form" >
  <div class="container">
    <label>Business_name</label></br>
    <input ng-model="user.Business_Name"/></br>

    <label>Business_location</label></br>
    <input ng-model="user.Business_Location"/></br>

    <label>Business_website</label></br>
    <input ng-model="user.Business_website"/></br>

    <label>Created_At</label></br>
    <input ng-model="user.Created_At"/></br>

    <label>email</label></br>

       <input ng-model="user.email"/></br>
       <label>Password</label>
       <input ng-model="user.password" type="password" /></br>

       <label>Re-enter your Passowrd</label>
     	<input ng-model="user.password2" type="password" /></br>

    <button ng-click="signup(user)">Sign Up</button>
        </div>
  </div>
</form>
