
<style>
.w3-lobster {
    font-family: "Lobster", serif;
}
body,h1,h5 {font-family: "Raleway", sans-serif}
h2 {font-family: "Montserrat", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('/images/steel-mace-workout.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

  </style>
  <div class="w3-display-bottomleft w3-container w3-xlarge w3-text-white" ng-controller = "RegisterCtrl">

  <p>Login</p>

  <p>
  	<label> email </label></br>
  	<input ng-model="customer.username"/></br>
  	<label> password </label></br>
  	<input ng-model="customer.password" type="password"/></br>
  	<button ng-click="loginC(customer)">Login</button></br>
  </p>



  <p> <button ng-click="registerCust()" class="w3-bar-item w3-button w3-black">Register as a customer </a>
