<style>
.w3-lobster {
    font-family: "Lobster", serif;
}
body,h1,h5 {font-family: "Raleway", sans-serif}
h2 {font-family: "Montserrat", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('/images/steel-mace-workout.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

  </style>
  <div class="w3-display-bottomright w3-xxlarge w3-margin-top w3-text-white">
    <p>Being HEALTHY and FIT isn't <br> a FAD or a TREND it's a <br> LIFESTYLE</p>
  </div>


<div class ="w3-display-bottomleft w3-xxlarge w3-margin-top w3-text-white">

  <nav ng-controller="HomeCtrl">
       <p> <button ng-click="Busineslogin()" class="w3-button w3-black">Business</p>
         <p> <button ng-click="Customerlogin()" class="w3-button w3-black">Customer</p>
</div>


</div>
