
<div class="container">
  <h4>Select A Service to update !</h4>
  <div class="row" ng-controller="updateCtrl">

  <p>    <label for="InputTitle"> The Service You want to update</label>
     <input  ng-model = "serviceName"
     ng-change = "setServicename(serviceName)"
      name = "Service_Name" type="text" class="form-control" id="InputTitle"
      placeholder="Service Name to Update" required >
</p>
<label> UPDATE TO </label>

<p>
    <label for="InputTitle"> The New Name</label>
    <input  ng-model = "newServiceName"
       ng-change = "setNewServiceName(newServiceName)"
        name = "Service_Name" type="text" class="form-control" id="InputTitle"
    placeholder="New Name to the service" required>
</p>

<p>
    <label for="InputTitle"> New Description </label>
    <input ng-model = "Service_Description"
       ng-change = "setNewServiceDescription(Service_Description)"
       name = "Service_Description" type="text" class="form-control" id="InputTitle"
    placeholder="Description "required >
</p>

<p>
    <label for="InputTitle">The New Price</label>
    <input  ng-model = "Price"
       ng-change = "setNewPrice(Price)"name = "Price" type="Number" class="form-control" id="InputTitle"
    placeholder="price in LE will be"required >
</p>
      <p> <button ng-click="updatethis()"
        class="w3-bar-item w3-button w3-BLACK">UPDATE this!</a>
      </div>
    </div>
  <!--    <div class="col-md-4">
        <div class="form-group">
          <select id="selectVariant" ng-model="selectItem" class="form-control">
            <option selected="selected" disabled="disabled">Choose The Service...</option>
            <option ng-repeat="x in Services" value="{{x.Service_Name}}">{{variant.title}}</option>
  </select>
  </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>Details:</h4>
              <p>Price: {{selectItem.x.Price}}</p>
              <p>Description: {{selectItem.x.Service_Description}}</p>
            </div>
          </div>
        </div>
-->
